# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.exe*
*.swp
opts.pl
tags
cscope.out
7kaa
7kaa-server
Makefile
Makefile.in
.deps
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
include/config.h
include/config.h.in
include/stamp-h1
install-sh
m4/sdl.m4
missing
