# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.exe*
*.swp
tags
cscope.out
7kaa
Makefile
Makefile.in
.deps
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
include/config.h
include/config.h.in
include/stamp-h1
install-sh
m4/sdl.m4
missing
m4/pkg.m4
m4/sdl2.m4
ABOUT-NLS
config.rpath
m4/codeset.m4
m4/extern-inline.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libcurl.m4
m4/lock.m4
m4/longlong.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
data/RESOURCE/STD/
data/RESOURCE/TUT_INTR/
data/RESOURCE/TUT_TEXT/
po/7kaa.res.pot
po/7kaa.src.pot
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/POTFILES
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/*.gmo
po/stamp-po
doc/*.aux
doc/*.pdf
doc/main.idx
doc/main.log
doc/main.out
doc/main.toc
doc/main.fdb_latexmk
doc/main.fls
doc/main.ilg
doc/main.ind
tools/genfont
