Seven Forts for Seven Generals
Difficulty:5
Bonus:250
------------------------------
You will begin this scenario with seven generals, each of a different nationality. They all possess the highest fighting and leadership skills.
It is up to you to make the best use of these skills in your race to achieve a total score of 1000.
You may check up on your total score in the middle section of the Ranking Scroll (F8).
To check on the score of other Kingdoms, click on their names in the top section.
A reminder of your goal will be displayed in the bottom section.
