Cloak & Dagger
Difficulty:6
Bonus:300
-------------
You will begin this scenario with a number of spies in important enemy forts.
You must put these agents to good use in your quest of raising your weak kingdom to complete world domination.
In order to win you must completely destroy every other kingdom.
