_("Desperate Bowmen")
Difficulty:5
Bonus:250
----------------
_("You will begin this scenario with six forts full of well-trained Persian archers. The problem is that your treasuries and granaries will soon be empty, which would encourage your archers to take their services elsewhere. You must first, therefore, find the gold and food that will keep your archer's loyalty and then use these well-trained men to build an empire and, ultimately, rule the world. To be victorious you must completely destroy the world's other kingdoms.")
