_("Desperados")
Difficulty:10
Bonus:500
-----------------------
_("At the end of the 'The War to End all Wars for a While', a band of unemployed mercenaries roams the ravaged countryside. Take control of this band, elect a King from among them and try to re-establish the destroyed Kingdom for which they once fought. You must survive the inevitable attacks of your old enemies and then go on to destroy them as punishment for their warmongering past. Ultimate victory will be gained by the destruction of all other kingdoms.")
