_("Eradication")
Difficulty:7
Bonus:350
------------
_("Your world is overrun with Fryhtans and your kingdom, as well as the others, are weak and almost helpless. You must ally with these other Kingdoms and wipe out every last Fryhtan. After they have all been destroyed, victory will go to the kingdom with the highest Fryhtan Battling Score. You may check up on your Fryhtan Battling Score in the middle section of the Ranking Scroll (F8). To check on the score of other kingdoms, click on their names in the top section. A reminder of your goal will be displayed in the bottom section.")
