Fight for Autonomy
Difficulty:8
Bonus:400
-------------------
The people in your homeland are being governed from an enemy controlled fort.
Destroy this fort and its soldiers and reestablish your rule over your people.
Then, to ensure perpetual freedom, go on to destroy all other Kingdoms.
Final victory will come with the destruction of every person who does not wear your colors.
