_("Winning Hearts & Minds")
Difficulty:3
Bonus:150
---------------
_("Although you will begin this scenario with all technological advances, the Japanese Scroll of Power and a troop of extremely well-trained soldiers, you will have no peasants and control no villages. To win you must build a population of 700 within 20 years and, of course, prevent other Kingdoms from doing the same. You may check up on your Population Score in the middle section of the Ranking Scroll (F8). To check on the Population Score of other Kingdoms, click on their names in the top section. A reminder of your goal will be displayed in the bottom section.")
