An Insular Possession
Difficulty:8
Bonus:400
---------------------
Your homeland is a small, underdeveloped land separated from the "civilized" mainland.
Your goal is to rapidly catch up to and surpass the other kingdoms before they can overwhelm you with their decadent ways.
Achieve an economic score of 600 within 25 years (and before any other kingdom) and you shall be victorious.
You will also win if you can destroy every other kingdom by this time.
You may check up on your Economic Score in the middle section of the Ranking Scroll (F8).
To check on the Economic Score of other kingdoms, click on their names in the top section.
A reminder of your goal will be displayed in the bottom section.
