_("Iron Fist & Velvet Glove")
Difficulty:4
Bonus:200
-------------------------
_("You have built your large empire through treachery and bloody conquest. Your reputation has reached rock bottom and your people are beginning to tire of your rule. Will you succeed in changing your ways and finding a way to deal with this crisis or will you go on as before and suffer the consequences? Your goal is to reach a total score of 1000 before any other kingdom. You may check up on your Total Score in the middle section of the Ranking Scroll (F8). To check on the Total Score of other kingdoms, click on their names in the top section. A reminder of your goal will be displayed in the bottom section. Destroying all of the other kingdoms will also ensure your victory.")
