_("Kukulcan's People")
Difficulty:5
Bonus:250
-----------------
_("Although your people lack the numbers, wealth and technology of your rivals, you have something that they all lack; the support of the great God Kukulcan. Use the faith of your people to invoke Kukulcan and channel his powers to your advantage. Your goal is nothing less than the total defeat of the unfaithful within 20 years.")
