Make or Break
Difficulty:5
Bonus:250
-------------
You possess all technologies and a large number of weapons.
Although this makes you powerful, it is also a powerful drain upon your resources.
All other Kingdoms, fearing your power, have allied against you and put you in position of defeating them all at once or of going bankrupt and collapsing.
Find your way out of this crisis, either by defeating your enemies immediately or by staving off collapse and defeating them at a later date.
Either way, victory will only come when you stand alone.
