_("Melting Pot")
Difficulty:6
Bonus:300
------------
_("Although it can be of great benefit to have a multiracial Kingdom, it can also be the cause of strife. Overcome these difficulties and lead your melting-pot society to total world dominance. You will achieve victory only with the total elimination of all rivals.")
