_("Make Money or War?")
Difficulty:5
Bonus:250
------------------
_("Although you have a wide ranging trading empire, your King and your militarily are weak. Other, stronger kingdoms are demanding tribute from you. Will you pay tribute and keep a low profile or will you use your money to build a strong military and punish those who would presume to make demands? Whichever path you choose, you must be the only kingdom remaining to be declared the victor.")
