_("The New World")
Difficulty: 4
Bonus: 200
-----------------------
_("It is rumored that the semi-mythical lands in the Western Ocean may actually exist. These lands may contain vast riches that could be the difference between extinction and survival for your poor and weak kingdom. If these rumored lands do exist, seize them before your enemies can, subdue the barbarous tribes living there and then use your new wealth to finance the destruction of your two powerful enemies. Victory will come when you stand alone.")
