United Normandy
Difficulty:5
Bonus:250
----------------
Your goal in this scenario is to unite all warring Norman kingdoms under your rule.
To do this you must ruthlessly defeat all pretenders, though you may find it to your advantage to feign friendship at times.
Be well prepared to spy and to be spied upon.
You will be victorious when there is only one kingdom remaining; your own.
