Not all those who Wander are Lost
Difficulty:10
Bonus:500
---------------------------------
Your armies have just suffered crushing defeat in battle.  Only your King remains alive.  Although the situation is desperate, your extensive treasure is well hidden and with it you may eventually be able to exact your revenge.
You will have 20 years in which to raise your population to 500.  You must do this before any other kingdom.
You may check up on your Population Score in the middle section of the Ranking Scroll (F8).
To check on the Population Score of other kingdoms, click on their names in the top section.
A reminder of your goal will be displayed in the bottom section.
Victory will also come with the total defeat of other kingdoms within the allotted time period.
