_("Pirates")
Difficulty: 6
Bonus: 300
-----------------------
_("Four ships and four well-trained crews of cutthroat pirates are all that you have to face the might of six enemy kingdoms. You are advised to find a country free from the clutches of those kingdoms and there establish your rule. Your ultimate goal is to return in force to the lands of your enemies and make them your own. No enemy units must remain above ground. As you will begin with no King, you must choose one from among the captains of your fleet.")
