Prince Takao
Difficulty: 9
Bonus: 450
-----------------------
Your father, the King, has been slain and all of his forts destroyed.  A few villages still retain their allegiance to your family, but their level of loyalty is rapidly falling.
Your task is to take your father's crown and reestablish your authority over these remaining villages.  Once the situation has stabilized, you must act as an honorable son and take revenge on your father's enemies.  Destroy them utterly.
