_("A Question of Succession")
Difficulty:7
Bonus:350
------------------------
_("Your King is surrounded and fighting for his life. If he is slain you will have to choose the successor to his throne. You choices are two good leaders of minority factions or a weak leader of the majority. Choose well, for your survival will depend upon it. Victory will be achieved when your kingdom stands alone.")
