Resource Depletion
Difficulty:5
Bonus:250
------------------
At the present time your population is large and your income is great. The difficulty is that your deposits of natural resources will soon be depleted.
The wealth and cohesiveness of your empire hinge on your ability to find new sources of income to support your people's way of life.
Overcome these difficulties and lead your people into everlasting peace and prosperity by making all enemy lands and subjects your own.
