_("Tread Carefully")
Difficulty:8
Bonus:400
-------------------
_("You are the weakest of the world's three kingdoms and must tread carefully around your two larger rivals. Survive your initial desperate situation and carefully build your power until you are strong enough to defeat the other two kingdoms. Only then will you achieve victory.")
