Viking Blitz
Difficulty:5
Bonus:250
-------------
You will have five and twenty things in this scenario: Five forts filled with the best Viking berserkers and 20 years in which to conquer the world.
If you can reach a population of 500 you shall also be victorious.
You may check up on your Population Score in the middle section of the Ranking Scroll (F8).
To check on the Population Score of other kingdoms, click on their names in the top section.
A reminder of your goal will be displayed in the bottom section.
