A Weakened State
Difficulty:6
Bonus:300
-----------------
At the end of a long and destructive war, you and your rival are severely weakened.
Pull back, regroup and prepare your forces to finish your mission; the liberation of all of the world's peoples from their oppressors.
When you stand, the world shall truly be free and you will be the victor.
