_("Impassable Isthmus")
Difficulty:3
Bonus:150
------------------------
_("Your enemy lies to the south across a narrow spit of land - too narrow for a single soldier to cross. Although the insult that caused your enmity has been long forgotten, it is best to be on the safe side and destroy them utterly. You must not tarry too long in your quest as you have been allowed a mere four years.")
