All That is Gold
Difficulty:3
Bonus:150
----------------------
Although you will begin this scenario with little treasure, you should possess enough of the skills necessary to raise your Kingdom's economic score to 300.
You will have ten years in which to do this.
You may check up on your economic score under the Ranking Scroll (F8).
To check on the economic score of other Kingdoms, click on their names in the top section.

