_("Plague")
Difficulty:3
Bonus:150
------------------
_("Your kingdom has lost most of its peasants through an attack of the farmer's foot fungus plague. To win this scenario you must first stabilize and then increase your food supply. When your people's bellies are full, send them into the field to utterly destroy your rival kingdom.")
