_("The Quick & the Dead")
Difficulty:4
Bonus:200
----------------------------
_("There comes a time in every young man's life when he must leave his shores, travel to distant lands and make his name by destroying that which others have so patiently built. Your task in this scenario is to complete the destruction of the world's remaining independent kingdom before two years have passed.")
