Lowlands
Difficulty:8
Bonus:400
---------------
You are master of the only Kindom in the fertile Lowlands.  All lesser kings hold sway over the resource rich Highland regions.
You will have 12 years in which to bring these barbarians under your control.
Victory may also be claimed if you reach a total score of 1,000 points within this time.
You may check up on your total score under the Ranking Scroll (F8).

