Nine Lord's Quest
Difficulty:8
Bonus:400
---------------
Nine Lords, possessing the highest levels of combat skill and leadership, are on a quest to make the known world their own.
Their powers have been granted to them for a mere seven years, so do not waste time with trade or with treaties.

