A Warlike People
Difficulty:8
Bonus:400
---------------
Although you have no industry or technology and must import all of your goods, you have a long tradition of strong and proud warriors.
It is these warriors who must protect you against the repeated onslaughts of your foes.
You may achieve ultimate victory either by defeating every human Kingdom or by having the highest Fryhtan battling score upon the elimination of the last Fryhtan.

