The Great Mughul
Difficulty:2
Bonus:100
------------------------
Become the greatest of all Mughul Emperors by leading your Kingdom to a total score of 500.
You must not let more than 15 years pass before you complete your task.
You may check up on your total score under the Ranking Scroll (F8).
To check on the total score of other Kingdoms, click on their names in the top section.

