The Great Lakes
Difficulty:3
Bonus:150
---------------
An aggressive Zulu Kingdom  has been established between the two Great Lakes, blocking your route to the Northern Wastes.
You have seven years in which to "persuade" this Kingdom that it would be much better off not existing.

