_("Fryhtanfest")
Difficulty:2
Bonus:100
---------------
_("In this scenario you will have 15 years in which to eradicate the world's Fryhtans. If you tire of this noble task, you may instead turn your sword on the world's human kingdoms. Destroying them will also result in victory for you.")
