_("Go Forth & Multiply")
Difficulty:1
Bonus:50
-------------------------
_("Use the vast deposits of natural resources near your village to build a powerful economic base. With this economic wealth you should be able to build a population of 100 before any other kingdom. You may check up on your population under the Ranking Scroll (F8). To check on the population of other Kingdoms, click on their names in the top section. A reminder of your goal will be displayed in the bottom section.")
