_("Eye of the Storm")
Difficulty:8
Bonus:400
---------------
_("You have inherited a Kingdom surrounded by many a warlike nation. You must survive their repeated attacks and somehow find a way to pay them all back for their evil deeds. Use all means at your disposal - rely on and trust in no one.")
