The Riches of Kemet
Difficulty:3
Bonus:150
--------------------------
You find yourself in a land rich with natural resources.  Make good use of the world’s bounty to fill your treasury and raise your Kingdom’s economic score to 200.
This must be done within the space of five years.
You may check up on your economic score under the Ranking Scroll (F8).
To check on the economic score of other Kingdoms, click on their names in the top section.
A reminder of your goal will be displayed in the bottom section.

