_("Shaken to the Core")
Difficulty:5
Bonus:250
--------------------------
_("While king and army are away pacifying a foreign land, your Kingdom has been rocked by an earthquake. Your population has plummeted and food is scarce. You must stave off famine, rebuild your ravaged kingdom and raise your economic score to 400 within 10 years. You may check up on your economic score under the Ranking Scroll (F8). To check on the economic score of other Kingdoms, click on their names in the top section.")
