First Born
Difficulty:5
Bonus:250
----------------
With your long-established temple to the fertility Goddess Isis, you should have little difficulty invoking her aid in the quest to raise your Kingdom's population to 500; a task that you must accomplish within ten years.
Do not anger the Goddess with your failure.
You may check up on your population under the Ranking Scroll (F8).
To check on the populations of other Kingdoms, click on their names in the top section.

